<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
                <ul class="nav flex-column">

                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'core:index' %}">
                            <span data-feather="home"></span> Dashboard
                        </a>
                    </li>
                    {% if perms.global_permissions.can_acess_all_payments %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:rpa_adm' %}">
                            <span data-feather="RPA Admin"></span> RPA Admin
                        </a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'core:rpa' %}">
                            <span data-feather="RPA"></span> RPA
                        </a>
                    </li>
                    {% endif %}


                </ul>
            </div>
        </nav>
    </div>
</div>